anyio==3.6.1
asgiref==3.4.1
astroid==2.7.3
async-timeout==4.0.2
ConfigArgParse==1.5.3
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
Deprecated==1.2.13
fastapi==0.78.0
greenlet==1.1.2
h11==0.13.0
httptools==0.3.0
Jinja2==3.0.1
locust==2.8.6
MarkupSafe==2.0.1
mccabe==0.6.1
msgpack==1.0.3
multidict==5.2.0
pydantic==1.9.0
pymssql==2.2.2
pyparsing==3.0.9
pytest==7.0.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2021.1
PyYAML==5.1.2
pyzmq==23.0.0
redis==4.3.1
requests==2.27.1
requests-toolbelt==0.9.1
roundrobin==0.0.2
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.36
starlette==0.19.1
toml==0.10.2
tomli==1.2.3
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.25.11
uvicorn==0.16.0
uvloop==0.14.0
watchgod==0.7
websockets==9.1
Werkzeug==2.0.3
wrapt==1.12.1
yarl==1.7.2
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0